header, nav, main, footer, figure, figcaption { display: block; }
* {box-sizing: border-box; }
header { background-color: black;
        padding: 10px 10px 10px 155px;
		background-image: url(../images/projectheader.png);
		background-repeat: no-repeat;
		width: 1152px;
		height: 220px;
       }
body { background-color: black;
	   color:#b157b1;
	   text-decoration:none;
	   margin-left:20px;
	   margin-right:20px;
	   margin-top:20px;
	   border-radius: 25px;
	   border-style: solid;
	   border-color:#b157b1;
	   padding: 10px;
     }
nav {  letter-spacing:0.1em;
	   font-weight: bold;
	   text-align: center;
	   margin-top:20px;
	   margin-bottom:50px;
	   border-style: solid;
	   border-radius: 25px;
    }
nav a { text-decoration: none;
	     padding: 20px;
         background-color: black;
		 background-repeat: no-repeat;
		 background-position: right 0;
		 border-style: solid;
		 border-radius: 25px;
		 border-color:#b157b1;
		 color:#b157b1;
       }
nav a:link    { color: #b157b1;;  }
nav a:visited { color: #b157b1;; }
nav a:hover   { background-color: #b157b1;;
                 color: black;
			     background-position: right -100px; }
footer {font-size:70%;
         text-align: center;
         padding: 10px;
         background-color: black;
		 clear: both;
       }
#shounendiv { border-radius:25px;
			  background-image: url(../images/shounenDivBackground.jpg);
			  background-position: center;
			  background-size: cover;
			  color: white;
			  padding: 50px;
			  margin-bottom: 20px;
			}
#isekaidiv { background-image: url(../images/itsuki.jpg);
			 background-position: center;
			 color: white;
			 border-radius: 25px;
    background-size: cover;
			 padding: 50px;
			 margin-bottom:20px;
		   }
#horrordiv { background-image: url(../images/ichika.jpg);
             background-position: center;
			 color: white;
    background-size: cover;
			 border-radius: 25px;
			 padding: 50px;
			 margin-bottom:20px;
		   }
#psychdiv  { background-image: url(../images/yotsuba.jpg);
             background-position: center;
            color: white;
    background-size: cover;
            border-radius: 25px;
            padding: 50px;
            margin-bottom:20px;
           }
#mangadiv  { background-image: url(../images/miku.jpg);
            background-position: center;
            color: white;
            height: 500px;
            width: 100%;
            border-radius: 25px;
            padding: 50px;
            margin-bottom:20px;  }
.info  { border-radius: 25px;
         border: 2px solid #73AD21;
         padding: 20px;
		 margin-bottom: 20px;
         overflow:auto;}
h3 { text-decoration: underline;
     font-size: 30px;
     text-align: center;}

p {
    font-size: 25px;
}
h2 { text-decoration: underline;
     font-size: 30px;  }
table { margin-bottom: 1em; border: 1px solid #73AD21; width: 60%; border-collapse: collapse; margin-left: auto; margin-right:auto;  }
td, th { border: 2px solid #73AD21; padding: 5px;}
tr:nth-of-type(even) { background-color: black; }
tr:first-of-type { background-color: black; color: #b157b1}
caption { margin: 1em; font-weight: bold; font-size: 120%; }
#container { position: relative;
             width: 50%;}
#image { opacity: 1;
	     display: block;
         width: 100%;
         height: auto;
         transition: .5s ease; }
#middle { transition: .5s ease;
		  opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center; }
#container:hover #image { opacity: 0.3; }
#container:hover #middle { opacity: 1; }
#text { background-color: #4CAF50;
		color: white;
	    font-size: 16px;
        padding: 16px 32px; }
#gallery { position: relative; }
figure { position: absolute;
		 left: 280px;
		 text-align: center;
		 opacity: .25; }
#gallery ul { width: 300px;
			  list-style-type: none; }
#gallery ul li { display: inline;
				 float: left;
				 padding: 10px; }
#gallery img { border: none; }
#gallery a { text-decoration: none;
			 color: #eaeaea;
			 font-style: italic; }
#gallery span { position: absolute;
				left: -1000px;
				opacity: 0;
				transition: opacity 3s ease-in-out; }
#gallery a:hover span { position: absolute;
					    top: 16px;
						left: 320px;
						text-align: center;
						opacity: 1; }
input[type=submit] {
    background-color: black;
    color: #b157b1;
    border: 2px solid #73AD21;
    border-radius: 25px;
    padding: 10px;
}
input[type=text] {
    background-color: black;
    color: #b157b1;
    border: 2px solid #73AD21;
    border-radius: 25px;
    padding: 10px;
}
@media only all and (max-width: 768px) {
	#shounendiv { width: auto;
				  height: auto;
				  background-image: url(../images/mobileshounen.jpg);
				  background-repeat: no-repeat;
				  background-size: 350px 1000px; }
	#isekaidiv { width: auto;
				 height: auto;
				 background-image: url(../images/mobileisekai.jpg);
				 background-repeat: no-repeat;
				 background-size: 450px 1000px;
			     background-position: left; }
	#horrordiv { width: auto;
				 height: auto;
				 background-repeat: no-repeat;
				 background-image: url(../images/mobilehorror.jpg);
				 background-size: 350px 1000px;}
	#psychdiv { width: auto;
				height: auto;
				background-repeat: no-repeat;
				background-image: url(../images/mobilepsych.jpg);
				background-size: 800px 1000px;
				background-position: 40% 110%;}
	#mangadiv { width: auto;
			    height: auto;
				background-repeat: no-repeat;
				background-image: url(../images/mobilemanga.jpg);
				background-size: 1400px 900px;
				background-position: 0 90%; }
	#info { width: auto; height: auto; }
	#content { width: auto; height: auto; }
	#nav {  padding-top: 10px; padding-bottom: 40px; }
	nav a { padding: 0.1em;
			width: 45%;
			float: left;
			min-width: 6em; margin-left: 0.5em; }
	header {  width: 300px; background-image: url(../images/mobileprojectheader.png); background-size: 340px 250px; }
	figure { display: none; }

}
